php/trunk/WSDL/sensorbase.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>
<wsdl:definitions name='sensorbase'
  targetNamespace='http://sensorbase.org/beta/soap/'
  xmlns:tns='http://sensorbase.org/beta/soap/sensorbase'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>


<wsdl:message name='getDataSlogRequest'>
  <part name='email' type='xsd:string'/>
  <part name='password' type='xsd:string'/>
  <part name='project_id' type='xsd:string'/>
  <part name='table_name' type='xsd:string'/>
  <part name='xml_str' type='xsd:string'/>
</wsdl:message>
<wsdl:message name='getDataSlogResponse'>
  <part name='Result' type='xsd:string'/>
</wsdl:message>

<wsdl:portType name='DataSlogPortType'>
  <wsdl:operation name='slogDataXML'>
    <wsdl:input message='tns:getDataSlogRequest'/>
    <wsdl:output message='tns:getDataSlogResponse'/>
  </wsdl:operation>
</wsdl:portType>

<wsdl:binding name= 'DataSlogBinding' type='tns:DataSlogPortType'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <wsdl:operation name='slogDataXML'>
    <soap:operation soapAction='http://sensorbase.org/beta/soap/dataSlog.php'/>
    <wsdl:input>
      <soap:body use='encoded' namespace='http://sensorbase.org/beta/soap/'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </wsdl:input>
    <wsdl:output>
      <soap:body use='encoded' namespace='http://sensorbase.org/beta/soap/'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </wsdl:output>
  </wsdl:operation>
</wsdl:binding>

<wsdl:service name='DataSlogService'>
  <wsdl:port name='DataSlogPort' binding='DataSlogBinding'>
    <soap:address location='http://sensorbase.org/beta/soap/dataSlog.php'/>
  </wsdl:port>
</wsdl:service>


<wsdl:message name='getDataRequest'>
    <part name='email' type='xsd:string'/>
    <part name='password' type='xsd:string'/>
    <part name='attributes' type='xsd:string'/>
    <part name='tables' type='xsd:string'/>
    <part name='condition' type='xsd:string'/>
    <part name='from' type='xsd:string'/>
    <part name='delta' type='xsd:string'/>
    <part name='format' type='xsd:string'/>
</wsdl:message>
<wsdl:message name='getDataResponse'>
    <part name='Result' type='xsd:string'/>
</wsdl:message>

<wsdl:portType name='DataGetPortType'>
    <wsdl:operation name='getData'>
        <wsdl:input message='tns:getDataRequest'/>
        <wsdl:output message='tns:getDataResponse'/>
    </wsdl:operation>
</wsdl:portType>

<wsdl:binding name='DataGetBinding' type='tns:DataGetPortType'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <wsdl:operation name='getData'>
        <soap:operation soapAction='http://sensorbase.org/beta/soap/dataGet.php'/>
        <wsdl:input>
            <soap:body use='encoded' namespace='http://sensorbase.org/beta/soap/'
                encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use='encoded' namespace='http://sensorbase.org/beta/soap/'
                encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>

<wsdl:service name='DataGetService'>
    <wsdl:port name='DataGetPort' binding='DataGetBinding'>
        <soap:address location='http://sensorbase.org/beta/soap/dataGet.php'/>
    </wsdl:port>
</wsdl:service>
</wsdl:definitions>